
.mainContainer {
    display: flex;
    flex-direction: column;
    border-width: 12;
    height: 600px;
    width: 1280px;
    flex: 1;
    align-self: center;
    background-image: url("../ressources/img/etudiant-contexte.png");
    background-color: blue;
}

.header {
    display: flex;
    color: blue;
    flex: 1;
    border : 1px solid black;
    
}

.body {
    display: flex;
    flex-direction: row;
    border: 1px solid black ;
    flex: 9;
    padding: 5px;

}

.button {
    display: flex;

    flex-direction: row;
    border: 1px solid black ;
    flex: 1;
    padding: 5px;


}

.footer {
    border: 1px solid black ;
    flex: 1;

}

.form-container {
    border: 1px solid black ; 
    flex: 4;   
    margin: 10px;
    

}

.upload-file-container {
    border: 1px solid black ;
    flex: 2;
    margin: 10px;
}

.button-envoyer {
    border: 1px solid black ; 
    width: 200px;
    height: 30px;
    align-self: center;
    margin-left: 30%;
    

}

.button-imprimer {
    border: 1px solid black ;
    width: 200px;
    height: 30px;
    align-self: center;
    margin-left: 30px;

}
